  <div class>
    <h1>Meal Team</h1>

    <ul class="list">
      <li onClick="openMealSettings()" class="item item-icon-right">
        home Meal Settings
        <i class="icon ion-ios7-arrow-right"></i>
      </li>
      <li onClick="openMealTeam()" class="item item-icon-right">
        Meal Team
        <i class="icon ion-ios7-arrow-right"></i>
      </li>
      <li onClick="openMealHistory()" class="item item-icon-right">
        Meal History
        <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </ul>
  </div>
